.sidebar{
    position: fixed;
    top: 58px;
    left: 0px;
    bottom: 0px;
    width: 72px;
    background-color: white;
}

.sidebarlink{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sidebarlink:hover{
    background-color: lightgray;
}

.sidebarlink img {
    height: 25px;
    padding-bottom: 5px;
}

.sidebarlink div{
    font-family: Roboto,arial;
    font-size: 10px;
}